/* Inter */
@font-face {
  font-family: 'Inter';
  src: url('./Inter-Variable.woff2') format('woff2-variations');
  font-weight: 400 700;
  font-display: swap;
}

/* PressStart2P-Regular */
@font-face {
  font-family: 'PressStart2P';
  src: url('./PressStart2P-Regular.woff') format('woff2');
  font-weight: 400;
  font-display: swap;
}
