/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.button::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--accent-color);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
}

.button:hover::before {
  transform: scaleX(1);
}

.button:not(:hover)::before {
  transform-origin: left;
}

.button {
  position: relative;
  z-index: 1;
}
.button__text {
  mix-blend-mode: difference;
}

.like-icon {
  cursor: pointer;
}

.like-icon .core {
  fill: transparent;
  transition: fill 0.3s 0.03s steps(2, end);
}

.like-icon .main-body {
  fill: transparent;
  transition: fill 0.3s steps(2, end);
}

.like-icon .contour {
  fill: var(--accent-color);
  transition: fill 0.1s steps(2, end);
}
.like-icon .sparks {
  opacity: 0;
}

.like-icon:hover .core {
  fill: var(--accent-color);
  transition: fill 0.3s steps(2, end);
}

.like-icon:hover .main-body {
  fill: var(--accent-color);
  transition: fill 0.3s 0.05s steps(2, end);
}

.like-icon:active .core {
  fill: #ff0000;
  transition: fill 0.3s steps(2, end);
}

.like-icon:active .main-body {
  fill: #ff0000;
  transition: fill 0.3s 0.05s steps(2, end);
}

.like-icon:active .contour {
  fill: #ff0000;
  transition: fill 0.3s 0.06s steps(2, end);
}

.like-icon.is-liked .core {
  fill: #ff0000;
  transition: fill 0.3s steps(2, end);
}

.like-icon.is-liked .main-body {
  fill: #ff0000;
  transition: fill 0.3s 0.05s steps(2, end);
}

.like-icon.is-liked .contour {
  fill: #ff0000;
  transition: fill 0.3s 0.06s steps(2, start);
}

.like-icon.is-liked .sparks {
  fill: #ff0000;
  animation: sparks 0.3s 0.08s steps(2, end);
}

.like-icon.is-liked .heart {
  animation: heart-scale 0.3s 0.1s steps(6) alternate;
  transform-origin: center;
}

@keyframes heart-scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes sparks {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.card__like-button:focus,
.card__icon-button:focus {
  outline: none;
}

.card__like-button:focus-visible {
  box-shadow: 2px 2px 0 0 var(--accent-color);
  transition: box-shadow 0.3s ease;
}

.card__icon-button:focus-visible {
  border-color: var(--accent-color);
  transition: border-color 0.3s ease;
}
